main h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 2rem;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0 20px 40px;
}

.galerie img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.galerie img:hover {
  transform: scale(1.05);
}
